/* Page Layout */
@page
{
    margin: 2.5cm 3.5cm 2.0cm 2.5cm;

    line-height: 1.5;
    font-size: 12pt;
    size: A4;
}

/* Footer Information */
@page {
    @bottom-center {
        content: var(--page-number)
    }
}

/* Two-Pane */
col-2
{
    display: block;
    columns: 2;
    column-gap: 2em;
}
