body > :not(.pmd-preview) { display: none; }

html { overflow-x: hidden; }
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #7771 !important;
    transform-origin: left top;
    width: var(--pagedjs-width);

    zoom: calc(var(--zoom-factor));
}

.pagedjs_page {
    overflow: hidden;
    background-color: var(--vscode-editor-background);

    /* Typography */
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.pmd-scroll-keeper {
    position: absolute;
    width: 1px;
    height: 1px;
    padding-bottom: calc(100vh - 22px);
}

/* Page Numbers */
.pagedjs_page[pnum-reset]
{
    counter-set: page 1;
}

.pagedjs_page[pnum-style=decimal]
{
    --page-number: counter(page) !important;
}

.pagedjs_page[pnum-style=roman]
{
    --page-number: counter(page, upper-roman) !important;
}

/* Manual Page Break */
pb
{
    break-after: page;
}

/* Footnotes */
ftn
{
    float: footnote;
}

/*
 *  Table Of Contents
 */

ul.toc
{
    line-height: 2em;
    display:inline-block;
    overflow:hidden;
    width: 100%;

    padding-left: 0;
}

ul.toc li
{
    display:flex;
    flex-wrap: wrap;
}

ul.toc ul
{
    order: 4;
    flex-basis: 100%;
}

ul.toc li pn
{
    order: 3;
}

ul.toc li:after
{
    content: '';
    border-bottom: 1.5px dotted;
    border-bottom-color: #aaa;
    flex-grow: 1;
    order: 2;
    height: 1.3em;
    margin: 0 .5em;
    min-width: 1em;
}
