.markdown-body { display: none; }

html { overflow-x: hidden; }
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #7771 !important;
    transform-origin: left top;
    zoom: calc(var(--zoom-factor));
    width: calc(210mm);
}

.pagedjs_page {
    overflow: hidden;
    background-color: var(--vscode-editor-background);
    border: 1px solid #7777;

    /* A4 */
    width: 210mm;
    height: 297mm;

    /* Typography */
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;

    /* Preview Style */
    box-shadow: 0 .5cm 1cm #0007;
    margin-bottom: 1.5cm;
}

/* Page Numbers */
.pagedjs_page[pnum-reset]
{
    counter-set: page 1;
}

.pagedjs_page[pnum-style=decimal]
{
    --page-number: counter(page) !important;
}

.pagedjs_page[pnum-style=roman]
{
    --page-number: counter(page, upper-roman) !important;
}

/* Manual Page Break */
pb
{
    break-after: page;
}
